.templateButton {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  background: #0173c7;
  border: 1px solid #0173c7;
  color: white; 
  float: left;
  font-size: 14px;
  font-weight: normal;
  line-height: 34px;
  margin-right: 4px;
  margin-top: 4px;
  padding: 2px 5px 4px 2px;
  text-align: center;
  width: 150px;
  height: 42px;
  white-space: normal;
}

.templateButton:hover
{
  background: #cde6f7;
  border: 1px solid #92c0e0;  
  color: black; 
}

.editButton {
  background: blue;
  border: 1px solid red;
  color: white;
  float: left;
  width: 20px;
  height: 42px;
}

.buttonBoard
{
}

.checkBoxContainer {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 14px;
  font-weight: normal;
  color:black;
  padding: 10px 20px 2px 2px;
  clear: both;
  content: "";
  display: table;

}

.checkBox {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 1px;
  height: 20px;
  margin-right: 5px;
  margin-top: -1px;
  padding: 0px 0px 2px 0px;
  text-align: center;
  width: 20px;
}